.section5 * {
  background: transparent;
  padding: 0;
  margin: 0;
}

.section5 {
  background-color: transparent;
  margin: 0 auto;
  counter-reset: my-awesome-counter1;
}

.section5__topbox {
  max-width: 320px;
  margin: 0 auto;
}

.section5__mainbox {
  margin: 0 auto;
  max-width: 80%;
  padding-bottom: 15px;
  position: relative;
}

.section5__imagecontainer {
  width: 60%;
  position: absolute;
  top: 0;
  left: 40%;
  transform: translateX(-35%);
  z-index: -1;
}

.section5__worldimage {
  width: 100%;
  height: auto;
}

.section5__mainbox1__title {
  display: none;
}

.section5__mainbox__title {
  font-family: "Acrom-ExtraBold", sans-serif;
  font-size: 27px;
  line-height: 42px;
  color: $black-color;
  padding: 12px 0 5px 0;
  text-transform: uppercase;
}

.section5__mainbox__subtitle {
  font-family: "Acrom-ExtraBold", sans-serif;
  font-size: 16px;
  color: $black-color;
  background-color: $grey-color;
  width: fit-content;
}

.section5__item__paragraph {
  font-family: "Acrom-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: $section-one-text-color;
  padding-bottom: 10px;
}

.section5__partnerscontainer {
  max-width: 100%;
  height: auto;
  padding-top: 20px;
}

.section5__partnersimage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media(min-width: 768px) {
  .section5__topbox {
    max-width: 768px;
  }

  .section5__mainbox {
    max-width: 60%;
    padding-bottom: 15px;
  }

  .section5__imagecontainer {
    width: 40%;
    left: 80%;

  }

  .section5__mainbox--size {
    max-width: 90%;
  }
}

@media(min-width: 1200px) {
  .section5__topbox {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }

  .section5__mainbox {
    width: 49%;
    margin: 0;
  }

  .section6__item__title {
    font-size: 24px;
    line-height: 35px;
  }

  .section5__mainbox__subtitle {
    font-size: 20px;
  }

  .section5__mainbox--marginright {
    margin-right: 40px;
  }

  .section5__imagecontainer {
    width: 25%;
  }

  .section6__mainbox__title {
    display: none;
  }

  .section5__mainbox1__title {
    display: block;
    max-width: 1200px;
    font-size: 48px;
    line-height: 40px;
    font-family: "Acrom-ExtraBold", sans-serif;    
    color: $black-color;    
    margin: 0 auto;
    padding: 0 20px 26px 20px;
  }
}
