/*COLOR*/ 
$white-color: #ffff;
$black-color: #222222;
$aque-color: #00eaff;
$grey-color: #7f828c;
$orange-color: #ff6b08;
$section-one-text-color: #646b7c;
$bg-section3-color: #edf0f2;
$box-shadow-color: #cfd1d3;
$input-border: #717171;
$placeholder: #a2a2a2;

